/**
 * @package		rcmediaph
 * @version		1.0
 * @author 		Robert Christian Obias <rchristian_obias@yahoo.com>
 * @copyright 	Copyright (c) 2014-2015, Robert Christian Obias
 * @link		rchristian_obias@yahoo.com
 */

.border-green { border: 1px solid green; }
.border-red { border: 1px solid red; }

.module_name {
	margin-top: 20px;
	border-bottom: 1px solid #D2D6DE;
	padding-bottom: 5px;
	margin-bottom: 5px;
}