/**
 * @package		rcmediaph
 * @version		1.0
 * @author 		Robert Christian Obias <rchristian_obias@yahoo.com>
 * @copyright 	Copyright (c) 2014-2015, Robert Christian Obias
 * @link		rchristian_obias@yahoo.com
 */

.dropzone {
	margin: 0;
	padding: 5px;
	border: 2px dashed rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
	width: 155px;
	min-height: 155px;
	/*margin-left: -10px;*/
	margin: 0 auto;
}

.dz-message span { display: none; }
.dz-message:after { content: 'Drag the file here or click to upload'; }
/*.dz-preview, .dz-complete { margin: 0 !important; padding: 0 !important; }*/
/*.dz-image { border-radius: 0 !important; }*/