/* font sizes */
.font-150 { font-size: 150%; }
.font-140 { font-size: 140%; }
.font-130 { font-size: 130%; }
.font-120 { font-size: 120%; }
.font-110 { font-size: 110%; }
.font-90 { font-size: 90%; }
.font-80 { font-size: 80%; }
.font-70 { font-size: 70%; }
.font-60 { font-size: 60%; }

/* bottom-margin */
.bottom-margin	{ margin-bottom: 2px; }
.bottom-margin1 { margin-bottom: 5px; }
.bottom-margin2 { margin-bottom: 10px; }
.bottom-margin3 { margin-bottom: 15px; }
.bottom-margin4 { margin-bottom: 30px; }
.bottom-margin5 { margin-bottom: 40px; }
.bottom-margin6 { margin-bottom: 60px; }
.bottom-margin7 { margin-bottom: 80px; }
.bottom-margin8 { margin-bottom: 100px; }
.bottom-margin9 { margin-bottom: 150px; }

/* top-margin */
.top-margin	{ margin-top: 2px; }
.top-margin1 { margin-top: 5px; }
.top-margin2 { margin-top: 10px; }
.top-margin3 { margin-top: 15px; }
.top-margin4 { margin-top: 30px; }
.top-margin5 { margin-top: 40px; }
.top-margin6 { margin-top: 60px; }
.top-margin7 { margin-top: 80px; }
.top-margin8 { margin-top: 100px; }
.top-margin9 { margin-top: 150px; }


/* FIXES */

/* fixes datepicker */
#ui-datepicker-div {
    z-index: 100000 !important;
}

/* fixes the left and right padding of datatables */
.dataTables_wrapper .row .col-sm-12 {
	padding: 0 !important;
	width: 100% !important;
}

/* fixes the misaligned sorting icon in datatables */
table .sorting_asc:after, table .sorting_desc:after {
  top: 8px !important;
}

/* fixes the alignment of page header */
.page-header h1 {
	margin-left: 0;
}

/* fixes the alignment of add buttons in datatables */
.btn-actions {
	margin-right: 20px !important;
}

/* fixes bootstrap label */
.label {
	padding-top: 3px !important;
}

/* dropzone overrides */
#dropzone, .dropzone {
    padding: 0 !important;
    margin: 0;
    border: 1px dashed #CCC !important;
    width: 100% !important;
    overflow: hidden;
}

.dz-message {
	padding: 20px;
	font-size: 1.2em !important;
	line-height: 1.3em !important;
}

.dz-image img {
	width: 155px;
	height: 155px;
}

.dz-message span {
	display: none !important;
}

.dz-message:after {
	content: 'Drop file here or click to upload' !important;
}

.help-block {
	color: #69AA46;
}

.child-arrow {
	margin-right: 10px;
}