body {
	padding-top: 10px;
	padding-bottom: 40px;
	background-color: #eee;
}

.form-register {
	max-width: 640px;
	padding: 15px;
	margin: 0 auto;
	background-color: #FFF;
	border: 1px solid #DDD;
}

h3 {
	margin-top: 10px;
	padding-bottom: 5px;
	text-align: left;
	border-bottom: 1px solid #EEE;
}