body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

.page-header {
	display: none;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	background-color: #FFF;
	border: 1px solid #DDD;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
/*.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 10px 8px;
	font-size: 16px;
}*/
/*.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
}*/