body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

.page-header {
	display: none;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	background-color: #FFF;
	border: 1px solid #DDD;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}