/**
 * @package     rcmediaph
 * @version     0.1
 * @author      Robert Christian Obias <rchristian_obias@yahoo.com>
 * @copyright   Copyright (c) 2015, Google.
 * @link        http://www.google.com
 */

.post-title {
	font-size: 1.4em;
	margin-bottom: 5px;
}

.post-info {
	font-style: italic;
}

.post-body {
	margin-top: 10px;
	border-bottom: 1px solid #F5F5F5;
	padding-bottom: 10px;
}