h3 {
    margin-top: 30px
}

#ticket-summary.affix-top {
    position: static;
    margin-top: 30px;
    //width: 325px;
}

.panel h3 {
    margin: 5px 0 0;
}

@media (min-width: 769px) {
    .col-no-padding-left {
        padding-left: 0;
    }
}

p, label, strong, em {
    font-size: 14px;
    font-weight: normal;
    /*font-family: sans-serif;*/
}

.ren-btn, .ren-btn:focus, .ren-btn.focus {
     background-color: #a8172d !important;
     border-color: #a8172d;
}
.ren-btn:hover {
     background-color: #8d1527 !important;
     border-color: #a8172d;
}

// Small screens
@media only screen {
    .affix {
        position: static;
    }
} /* Define mobile styles */

@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
    .affix {
        position: static;
    }
}

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
    .affix {
        position: static;
    }
    #ticket-summary.affix {
        position: fixed;
    }
} 

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
    #ticket-summary.affix {
        position: fixed;
        top: 100px;
        //width: 325px;
    }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    #ticket-summary.affix {
        position: fixed;
        top: 100px;
        //width: 325px;
    }
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) {
    #ticket-summary.affix {
        position: fixed;
        top: 100px;
        //width: 325px;
    }
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
    #ticket-summary.affix {
        position: fixed;
        top: 100px;
        //width: 325px;
    }
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) {
    #ticket-summary.affix {
        position: fixed;
        top: 100px;
        //width: 325px;
    }
} /* min-width 1921px, xxlarge screens */
