html {
	/*height: 100%;*/
}
body {
	background-color: #FFF;
	/*height: 100%;*/
}
.main-container:before {
	display: none;
}
.img-main-background {
	position: absolute;
	top: 0;
	width: 100%;
	max-width: none;
	z-index: 0;
}
.jumbotron {
	border-radius: 0;
	height: 100%;
	min-height: 600px;
	padding-top: 150px;
	margin-bottom: 0;
}
.navbar {
	background-color: rgba(67, 142, 185, 0.8);
	padding: 20px;
	-webkit-transition: padding 0.2s, background-color 0.2s;
	-o-transition: padding 0.2s, background-color 0.2s;
	transition: padding 0.2s, background-color 0.2s;
}
.navbar .navbar-brand {
	font-size: 36px;
	-webkit-transition: font-size 0.2s;
	-o-transition: font-size 0.2s;
	transition: font-size 0.2s;
}
.navbar .navbar-nav > li > a {
	margin-top: 6px;
	padding: 6px 8px;
	height: 36px;
	border-bottom: 2px solid transparent;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li.active > a {
	border-bottom-color: #FFF;
	background-color: transparent;
	color: #FFF;
}
@media (max-width: 991px) {
	.navbar .navbar-nav > li > a {
		border-bottom-width: 0;
		border-left: 2px solid transparent;
	}
	.navbar .navbar-nav > li > a:hover,
	.navbar .navbar .navbar-nav > li.active > a {
		border-left-color: #FFF;
	}
}
@media (max-height: 540px) {
	.navbar .jumbotron {
		padding-top: 120px;
	}
}
.navbar .navbar-nav > li {
	border-width: 0 !important;
}
.navbar .navbar-nav > li.sep {
	height: 48px;
	line-height: 48px;
	margin: 0 8px;
	font-size: 4px;
}
.navbar-fixed-top + .main-container {
	height: 90%;
	height: calc(100% - 100px);
	min-height: 400px;
	padding-top: 0;
}
.navbar-compact + .main-container {
	padding-top: 0;
}
.navbar-compact.navbar {
	padding: 5px;
	background-color: rgba(67, 142, 185, 0.92);
}
.navbar-compact.navbar .navbar-brand {
	font-size: 24px;
}
@media (max-width: 991px) {
	.navbar + .main-container {
		padding-top: 0;
	}
	.navbar.navbar {
		padding: 5px;
		background-color: rgba(67, 142, 185, 0.92);
	}
	.navbar.navbar .navbar-brand {
		font-size: 24px;
	}
}
.section {
	padding-top: 36px;
	padding-bottom: 36px;
	background-color: #FFF;
}
.section-grey {
	background-color: #EDF2F6;
}
.item .carousel-caption {
	background-color: transparent;
	transition: background-color 0.2s;
}
.item.active .carousel-caption {
	background-color: rgba(0, 0, 0, 0.25);
}
.coming-soon {
	background-color: #1A375F;
}
.coming-soon .main-container {
	height: 100%;
}
.coming-soon .navbar {
	padding: 10px;
	background-color: rgba(67, 142, 185, 0.5);
}
.coming-soon .jumbotron {
	padding-top: 120px;
	background-color: #254169;
}
@media (max-width: 767px) {
	.coming-soon .jumbotron {
		padding-top: 80px;
	}
}
.coming-soon .timer {
	border-radius: 18px;
	padding-bottom: 12px;
	background-color: rgba(0, 0, 0, 0.15);
}
.coming-soon .timer-value {
	font-size: 56px;
	margin-bottom: 8px;
	color: #FFF;
}
.coming-soon .timer-text {
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
}
.coming-soon .timer-text .label {
	min-width: 60%;
}


/* OVERRIDES */

body {
	padding-bottom: 0 !important;
}

#content {
	margin-top: 100px; 
	min-height: 500px;
}

.breadcrumb {
	margin-left: 0;
}

#page-title {
	margin-top: 30px;
	margin-left: 0;
}

.carousel {
	margin: 0 !important;

}

#footer {
 /* position: absolute;
	bottom: 0;
	height: 300px;
	margin-top: 300px !important;
	width: 100%;*/
	background-color: #EDF2F6;
	margin-top: 50px;
}