@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-300.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans-400.woff) format('woff');
}

@font-face {
    font-family: '28 Days';
    src: url('../fonts/28_days_later-webfont.woff2') format('woff2'),
         url('../fonts/28_days_later-webfont.woff') format('woff'),
         url('../fonts/28_days_later-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}