
html {
    /*height: 100%;*/
}

body {
    background-color: #FFF;
    font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
    font-family: "28 Days";
}

.main-container:before {
	display: none;
}
.img-main-background {
	position: absolute;
	top: 0;
	width: 100%;
	max-width: none;
	z-index: 0;
}
.jumbotron {
	border-radius: 0;
	height: 100%;
	min-height: 600px;
	padding-top: 150px;
	margin-bottom: 0;
}
.navbar {
	background-color: #14171A;
	padding: 0;
	-webkit-transition: padding 0.2s, background-color 0.2s;
	-o-transition: padding 0.2s, background-color 0.2s;
	transition: padding 0.2s, background-color 0.2s;
	border-bottom: 1px dotted #2E3236;
}
.navbar .navbar-brand {
	padding: 5px 15px;
}
.navbar .navbar-nav > li > a {
	margin-top: 6px;
	padding: 6px 8px;
	height: 36px;
	border-bottom: 2px solid transparent;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li.active > a {
    border-bottom-color: #FFF;
    background-color: transparent;
    color: #FFF;
}

.social-icons a {
    color: #fff;
}

#footer ul > li > a:hover, 
#footer ul > li > a:focus {
    background: none;
}

@media (max-width: 991px) {
	.navbar .navbar-nav > li > a {
		border-bottom-width: 0;
		border-left: 2px solid transparent;
	}
	.navbar .navbar-nav > li > a:hover,
	.navbar .navbar .navbar-nav > li.active > a {
		border-left-color: #FFF;
	}
}
@media (max-height: 540px) {
	.navbar .jumbotron {
		padding-top: 120px;
	}
}
.navbar .navbar-nav > li {
	border-width: 0 !important;
}
.navbar .navbar-nav > li.sep {
	height: 48px;
	line-height: 48px;
	margin: 0 8px;
	font-size: 4px;
}
.navbar-fixed-top + .main-container {
	height: 90%;
	height: calc(100% - 100px);
	min-height: 400px;
	padding-top: 0;
}
.navbar-compact + .main-container {
	padding-top: 0;
}
.navbar-compact.navbar {
	padding: 5px;
	background-color: rgba(67, 142, 185, 0.92);
}
.navbar-compact.navbar .navbar-brand {
	font-size: 24px;
}
@media (max-width: 991px) {
	.navbar + .main-container {
		padding-top: 0;
	}
	.navbar.navbar {
		padding: 5px;
		background-color: #14171A;
	}
	.navbar.navbar .navbar-brand {
		font-size: 24px;
	}
}
.section {
	padding-top: 36px;
	padding-bottom: 36px;
	background-color: #FFF;
}
.section-grey {
	background-color: #EDF2F6;
}
.item .carousel-caption {
	background-color: transparent;
	transition: background-color 0.2s;
}
.item.active .carousel-caption {
	background-color: rgba(0, 0, 0, 0.25);
}
.coming-soon {
	background-color: #1A375F;
}
.coming-soon .main-container {
	height: 100%;
}
.coming-soon .navbar {
	padding: 10px;
	background-color: rgba(67, 142, 185, 0.5);
}
.coming-soon .jumbotron {
	padding-top: 120px;
	background-color: #254169;
}
@media (max-width: 767px) {
	.coming-soon .jumbotron {
		padding-top: 80px;
	}

	#hero_image {
		color: #fff;
	    text-align: center;
	    background-position: left center;
	    -webkit-background-size: 100% !important;
	    background-size: 100% !important;
	    margin-bottom: 0;
	    /*border: 2px dashed red;*/
	}

		#hero_image .inner {
		    padding: 80px 30px !important;
		    background: rgba(0, 0, 0, 0.45);
		}

		#hero_image .inner h1 {
			font-size: 2.5em;
		}
}
.coming-soon .timer {
	border-radius: 18px;
	padding-bottom: 12px;
	background-color: rgba(0, 0, 0, 0.15);
}
.coming-soon .timer-value {
	font-size: 56px;
	margin-bottom: 8px;
	color: #FFF;
}
.coming-soon .timer-text {
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
}
.coming-soon .timer-text .label {
	min-width: 60%;
}

#hero_image {
	color: #fff;
    text-align: center;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
}

#hero_image .inner {
    padding: 255px 30px;
    background: rgba(0, 0, 0, 0.45);
}

#hero_image h1 {
    font-size: 60px;
    font-family: "28 Days";
}

	#hero_image .date {
	    font-size: 24px;
	}


/* OVERRIDES */

body {
	padding-bottom: 0 !important;
}

.container {
	width: 98%;
}

#content {
	margin-top: 40px;
	min-height: 500px;
}

.breadcrumb {
	margin-left: 0;
}

#page-title {
	margin-top: 30px;
	margin-left: 0;
}

.carousel {
	margin: 0 !important;

}

#footer {
 /* position: absolute;
	bottom: 0;
	height: 300px;
	margin-top: 300px !important;
	width: 100%;*/
	background-color: #EDF2F6;
	margin-top: 50px;
}

#footer ul > li > a {
    padding: 0;
}

#sidebar {
    margin-top: 20px;
}

/* Social Media Buttons */
.social-plugins.orientation-horizontal {
	margin-top: 10px;
}

.social-plugins.orientation-vertical {
	margin: 32px 10px 10px 0;
	float: left;
}

.social-plugins.orientation-horizontal a.social-plugin {
    margin-right: 10px;
}

.social-plugins.orientation-vertical a.social-plugin {
	margin-bottom: 1px;
	display: block;
	float: none;
}

.social-plugins #facebook {
	background-color: #3b5998 !important;
	border-color: #3b5998;
}

.social-plugins #twitter {
	background-color: #00aced !important;
	border-color: #00aced;
}

.social-plugins #googleplus {
	background-color: #dd4b39 !important;
	border-color: #dd4b39;
}

.social-plugins #pinterest {
	background-color: #cb2027 !important;
	border-color: #cb2027;
}

.social-plugins #linkedin {
	background-color: #007bb6 !important;
	border-color: #007bb6;
}


.social-plugins {
    margin-right: 10px;
}


.social-nav ul {
    margin: 20px 100px 0 0;
}

.social-nav li {
    margin: 0 20px;
}

.social-icons a {
    font-size: 22px;
}

.inner h1 {
    margin: 0;
    padding: 0;
}

// Small screens
@media only screen {
    .affix {
        position: static;
    }
    
    .navbar.navbar .navbar-brand {
        float: none;
        display: block;
    }
    
    .navbar-brand>img {
        margin: 0 auto;
    }
    
    .navbar:not(.navbar-collapse) .navbar-header {
        text-align: center;
    }
    
    .social-nav ul {
        margin: 0;
    }
    
    .nav-pills>li {
        float: none;
        display: inline-block;
    }
} 

@media only screen and (max-width: 40em) {
    .affix {
        position: static;
    }
    
    .navbar.navbar .navbar-brand {
        float: none;
        display: block;
    }
    
    .navbar-brand>img {
        margin: 0 auto;
    }
    
    .navbar:not(.navbar-collapse) .navbar-header {
        text-align: center;
    }
    
    .social-nav ul {
        margin: 0;
    }
    
    .nav-pills>li {
        float: none;
        display: inline-block;
    }
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .navbar-left {
        float: left;
    }
    
    .navbar-right {
        float: right;
    }
    
    .social-nav ul.nav {
        margin: 20px 30px 0 0;
    }
} 
