h3 {
    margin-bottom: 20px;
}

h1 {
    margin-top: 0;
}

.meta {
    margin-bottom: 10px;
}

.meta a {
    padding: 0 5px;
    color: #003399;
    font-size: 16px;
}

.meta a:first-child {
    padding: 0 5px 0 0;
}

.meta a:last-child {
    padding: 0 0 0 5px;
}

#register-form h4 {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

#schedule i {
    margin-right: 10px;
}

.register-form-container {
    //border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/*
 * Form
 */
label {
    margin-top: 5px;
}