
h1 {
    margin-top: 0;
}

.meta {
    margin-bottom: 10px;
}

.meta a {
    padding: 0 5px;
    color: #003399;
    font-size: 16px;
}

.meta a:first-child {
    padding: 0 5px 0 0;
}

.meta a:last-child {
    padding: 0 0 0 5px;
}

#schedule i {
    margin-right: 10px;
}

table {
    margin-top: 20px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.btn-register {
    display: none;
}