/**
 * @package		rcmediaph
 * @version		1.0
 * @author 		Robert Christian Obias <rchristian_obias@yahoo.com>
 * @copyright 	Copyright (c) 2016, Google.
 * @link		http://www.google.com
 */

#sortable { list-style-type: none; margin: 0; padding: 0; }
#sortable li { cursor: move; }

#sortable .btn-actions {
	position: absolute;
	right: 0;
	top: 5px;
}

ol#instruction, ol#operations {
	padding-left: 15px;
}

	ol#instruction li {
		margin-bottom: 10px;
	}

.thumbnail {
	/*position: relative;*/
	height: 100px;
	overflow: hidden;
	padding: 0;
	/*background-color: #DDD;*/
}