/**
 * @package		rcmediaph
 * @version		1.0
 * @author 		Robert Christian Obias <rchristian_obias@yahoo.com>
 * @copyright 	Copyright (c) 2016, Google.
 * @link		http://www.google.com
 */

#dropzone {
	/*height: 155px !important;*/
	padding: 0;
	margin: 0;
	border: 1px dashed #CCC;
	width: 155px !important;
	/*height: 10px;*/
	overflow: hidden;
}

.dz-message {
/*	margin: 0;
	padding: 0;*/
	padding: 20px;
}

.dz-image img {
	width: 155px;
	height: 155px;
}

.dz-message span {
	display: none;
}

.dz-message:after {
	content: 'Drop file here or click to upload';
}

#dt-images_wrapper .row:first-child {
	display: none;
}

#dt-images_wrapper .row:last-child {
	background-color: #FFF;
	border: none;
}


#image_sizes .thumbnail, #thumbnails .thumbnail {
	position: relative;
	height: 100px;
	overflow: hidden;
	padding: 0;
	/*background-color: #DDD;*/
}
.popover {
	z-index: 99999;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0, 0, 0, 0.75);
    width:100%;
    height:100%;
    padding:1%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}