/**
 * @package     rcmediaph
 * @version     1.0
 * @author      Robert Christian Obias <rchristian_obias@yahoo.com>
 * @copyright   Copyright (c) 2015, Google.
 * @link        http://www.google.com
 */
 
#categories {
 	max-height: 350px;
 	overflow-y: auto;
}

.checkbox {
 	margin-bottom: 5px;
}