/**
 * @package		rcmediaph
 * @version		1.0
 * @author 		Robert Christian Obias <rchristian_obias@yahoo.com>
 * @copyright 	Copyright (c) 2016, Google.
 * @link		http://www.google.com
 */

.sortable {
	margin: 0;
	padding: 5px;
	border: 1px dashed #CCC;
}

.panel {
	margin-bottom: 5px;
}

.panel-body {
	/*background-color: #F9FAFC;*/
}

.ui-helper {
    width: 100% !important;
}

#available .panel {
	z-index: 99;
}

.sortable .panel {
	z-index: 999;
}