/**
 * @package		rcmediaph
 * @version		1.0
 * @author 		Robert Christian Obias <rchristian_obias@yahoo.com>
 * @copyright 	Copyright (c) 2014-2015, Robert Christian Obias
 * @link		rchristian_obias@yahoo.com
 */

.checkbox label {
	padding-right: 10px;
}

.table_column {
	border-bottom: 1px solid #F4F4F4;
	margin-bottom: 12px;
}

.form-group {
	margin-bottom: 5px;
}